* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

header .contact-btn {
    background-color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(234, 5, 5, 0.974), rgba(234, 5, 5, 0.974)), url('burger-3.png.png') center/cover no-repeat;
    height: 90vh;
    padding: 0 50px;
    color: white;
}

.hero .text {
    max-width: 600px;
}

.hero .text h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero .text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .text .order-btn {
    background-color: crimson;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.hero img {
    max-width: 450px;
    border-radius: 20px;
}
